<ion-view title="Food Truck" class="login">
  <ion-content>

    <img class="imgLogo" src="/img/logo.jpeg">
    <form class="padding" name="formLogin" ng-submit="login(usuario)">
      <ion-list>

        <label class="item item-input item-floating-label">
          <span class="input-label">E-Mail:</span>
          <input type="email" placeholder="E-mail" ng-model='usuario.email' required/>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha" ng-model='usuario.password' required ng-minlength="6"/>
        </label>

        <button class="button button-balanced button-block" ng-disabled="formLogin.$invalid" type="submit">Login</button>
        <a class="button button-assertive button-block" type="button" ui-sref="registro">Registro</a>

      </ion-list>
    </form>

  </ion-content>
</ion-view>